{% extends 'base.html' %}

{% block title %}About Us - Rotaract Club of Ambattur{% endblock title %}

{% block content %}
    <div class="content-container">
    <h2>About Our Rotaract Club of Ambattur</h2>
    <p>Welcome to the About Us page! We are a dedicated group of young professionals and students committed to service, leadership, and fellowship at the Rotaract Club of Ambattur.</p>
    <p>Our club, part of the global Rotaract network, focuses on community development, professional growth, and international understanding.</p>
    <p>Learn more about our mission, vision, and the impact we strive to make.</p>
{% endblock content %}